numpy==1.16.1
matplotlib==3.0.3
pandas==0.23.4
beautifulsoup4==4.7.1
bokeh==1.0.4
ipympl==0.2.1
Keras==2.2.4
requests==2.21.0
scikit-learn==0.20.3
scikit-optimize==0.5.2
scipy==1.2.1
seaborn==0.9.0
tensorflow==2.5.0
tornado==5.1.1
tqdm==4.31.1
tweepy==3.7.0
xgboost==0.81
lxml==4.6.3
apache-airflow==2.1.2
pyspark==2.4.1
