numpy 
scipy 
matplotlib
pandas
scikit-learn
ipython
pyyaml
jupyter
jupyterlab
tqdm
Cython
tensorflow
keras
pyarrow 
scikit-optimize 
seaborn 
ipympl
bs4
requests
tweepy
pillow

