# Install IPython Notebook dependencies

numpy 
scipy 
matplotlib
pandas
scikit-learn
ipython
pyyaml
jupyter
jupyterlab
tqdm
Cython
tensorflow
keras
pyarrow 
scikit-optimize
xgboost 
seaborn 
bokeh
ipympl
pyglmnet
selenium
bs4
requests
tweepy
cython
shapely
pyshp
pillow
xarray
holoviews[all]
